
/*  
Added basic font family, border box, text aligment for header/main/section/footer 
created a hide class to hide button until we are ready to reveal them
created button styling.
*/
*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

main{
    text-align: center;
    justify-content: center;
    flex:auto;

}

header h3{
    flex:1 0 20%;
    
}

header nav{
    flex: 1 0 80%;
    text-align: right;
}
section{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.hide{
    display: none;
}

.button{
    background:white;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }